<button mat-icon-button style="z-index: 10; position: fixed; background-color: black; bottom: 0; margin-bottom: 20px;"
matTooltip="Delete All Notifications" (click)="deleteAll()">
    <mat-icon style="color: red;font-size: 27px;">delete_sweep</mat-icon>
</button>
<div class="notification-container" *ngFor="let notification of myNotifications" style="z-index: 5;">
    <mat-card style="display: flex; flex-direction: column;
     justify-content: center; padding: 0%; margin: 2px;">
        <mat-card class="notification-card">
            <div (click)="redirect(notification)">
                <mat-icon style="color: blue;
            background-color: white; border-radius: 25px; 
            padding: 10px;">remove_red_eye</mat-icon>
            </div>
            <div style="margin-left: 5px;"> 
                <strong>{{notification.message}}</strong>
            </div>
            <div>
                <button mat-icon-button  (click)="deleteNotification(notification)">
                    <mat-icon style="margin-right: 2px;
                font-size: 250%; color: #f7000e;">close</mat-icon>
                </button>
            </div>
        </mat-card>

        <mat-card style="display: flex; flex-direction: row; justify-content: space-around;">
            <span>
                Date : <strong>{{notification.sendingDate.toDate() | date :'medium'}}</strong>
            </span>
            <span>
                Redirection: <strong>{{notification.redirectionURL}}</strong>
            </span>
            
        </mat-card>

    </mat-card>

</div>

<div class="notification-container" style="z-index: 5;">
    <mat-card class="notification-card" *ngIf="noNotificationbool">
        <div >
            <mat-icon style="color: blue;
        background-color: white; border-radius: 25px; 
        padding: 10px;">remove_red_eye</mat-icon>
        </div>
        <div style="margin-left: 5px;"> 
            <strong>कामं करावी लागतात नोटिफिकेशन यायला ..!!</strong>
        </div>
        <div>
            <button mat-icon-button>
                <mat-icon style="margin-right: 2px;
            font-size: 250%; color: #f7000e;">close</mat-icon>
            </button>
        </div>
    </mat-card>
</div>
