<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button> <mat-icon aria-hidden="false" aria-label="Example user verified icon" (click)="drawer.toggle()">keyboard_tab</mat-icon></button>
        <span>DashBoard : {{currentUser.name}}</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
        <app-add-entity-menu></app-add-entity-menu>
    </mat-toolbar-row>
</mat-toolbar> -->
<mat-drawer-container class="container">
        <mat-drawer #drawer mode="side" opened>
            <mat-list>

                    <span style="margin-top: 20px; margin-bottom: 20px">   <app-add-entity-menu ></app-add-entity-menu>   </span>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['mytask']" [matTooltipPosition]="position" matTooltip="My Tasks" >
                        <mat-icon style="color: blue">assignment</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['timesheet']" [matTooltipPosition]="position" matTooltip="Time Sheet" > 
                            <mat-icon style="color: goldenrod">access_time</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['#']" [matTooltipPosition]="position" matTooltip="Leaves" >
                            <mat-icon style="color: brown">emoji_transportation</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['blogs']" [matTooltipPosition]="position" matTooltip="Blogs" >
                            <mat-icon style="color: black">book</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['#']" [matTooltipPosition]="position" matTooltip="Leaves" >
                            <mat-icon style="color: gold">monetization_on</mat-icon>
                    </mat-list-item>
                    
            </mat-list>

        </mat-drawer>
    <mat-drawer-content> 
            <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
