<mat-drawer-container class="container">
        <mat-drawer #drawer mode="side" opened>
            <mat-list>

                    <span style="margin-top: 20px; margin-bottom: 20px">   <app-add-entity-menu ></app-add-entity-menu>   </span>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['mytask']" [matTooltipPosition]="position" matTooltip="My Tasks" >
                        <mat-icon style="color: blue">assignment</mat-icon>
                    </mat-list-item>
                    
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['notification']" [matTooltipPosition]="position" matTooltip="Notifications" >
                        <mat-icon style="color: gold">notifications_active</mat-icon>
                    </mat-list-item>

                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['projects']" [matTooltipPosition]="position" matTooltip="Projects" >
                        <mat-icon style="color: rgb(11, 135, 135)">work</mat-icon>
                    </mat-list-item>

                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['everything']" [matTooltipPosition]="position" matTooltip="All Projects and Tasks" >
                        <mat-icon style="color: rgba(140, 24, 248, 0.837)">chrome_reader_mode</mat-icon>
                    </mat-list-item>

                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['chat']" [matTooltipPosition]="position" matTooltip="Group Chat" >
                        <mat-icon style="color: rgba(248, 24, 91, 0.837)">chat</mat-icon>
                    </mat-list-item>

                    <!-- <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['meetings']" [matTooltipPosition]="position" matTooltip="Time Sheet" > 
                            <mat-icon style="color: goldenrod">access_time</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['#']" [matTooltipPosition]="position" matTooltip="Leaves" >
                            <mat-icon style="color: brown">emoji_transportation</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['blogs']" [matTooltipPosition]="position" matTooltip="Blogs" >
                            <mat-icon style="color: black">book</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['#']" [matTooltipPosition]="position" matTooltip="Leaves" >
                            <mat-icon style="color: gold">monetization_on</mat-icon>
                    </mat-list-item> -->
                    
                    
            </mat-list>

        </mat-drawer>
    <mat-drawer-content> 
            <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
