<mat-drawer-container class="container">
        <mat-drawer #drawer mode="side" opened>
            <mat-list>

                    <span style="margin-top: 20px; margin-bottom: 20px">   <app-add-entity-menu ></app-add-entity-menu>   </span>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['mytask']" [matTooltipPosition]="position" matTooltip="My Tasks" >
                        <mat-icon style="color: blue">assignment</mat-icon>
                    </mat-list-item>
                    
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['approval']" [matTooltipPosition]="position" matTooltip="Leaves" >
                        <mat-icon style="color: blue">perm_data_setting</mat-icon>
                    </mat-list-item>

                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['projects']" [matTooltipPosition]="position" matTooltip="Projects" >
                        <mat-icon style="color: gold">work</mat-icon>
                    </mat-list-item>

                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['meetings']" [matTooltipPosition]="position" matTooltip="Time Sheet" > 
                            <mat-icon style="color: goldenrod">access_time</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['#']" [matTooltipPosition]="position" matTooltip="Leaves" >
                            <mat-icon style="color: brown">emoji_transportation</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['blogs']" [matTooltipPosition]="position" matTooltip="Blogs" >
                            <mat-icon style="color: black">book</mat-icon>
                    </mat-list-item>
                    <mat-list-item style="margin-top: 20px; margin-bottom: 20px" [routerLink]="['#']" [matTooltipPosition]="position" matTooltip="Leaves" >
                            <mat-icon style="color: gold">monetization_on</mat-icon>
                    </mat-list-item>
                    
                    
            </mat-list>

        </mat-drawer>
    <mat-drawer-content> 
            <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
