::ng-deep .mat-card-header-text {
    width: 100%;
}
@media (min-width: 480px) {
    .imageplacement{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px; border-top: 8px solid black; 
        justify-content: start; cursor: pointer;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .imageplacement{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px; border-top: 8px solid black; 
        justify-content: start; cursor: pointer;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .imageplacement{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px; border-top: 8px solid black; 
        justify-content: start; cursor: pointer;
    }
}
@media (min-width: 480px) {
    .cardflex{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .cardflex{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .cardflex{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
@media (min-width: 480px) {
    .viewer{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .viewer{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .viewer{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
@media (min-width: 480px) {
    .viewerelement{
        width: 80%; display: flex; flex-direction: column;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .viewerelement{
        width: 80%; display: flex; flex-direction: column;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .viewerelement{
        width: 40%; display: flex; flex-direction: column;
    }
}
