.chatinput{
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.main{
    overflow: auto;
    position: relative;
}
.spacer {
    flex: 1 1 auto;
}