
<mat-toolbar  id="content-mobile" style="font-size: 15px; position: fixed; z-index: 10; display: flex; 
justify-content: space-evenly; flex-direction: row;">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button mat-raised-button style="background-color: red;">
            <mat-icon style="color: black;">check_circle</mat-icon>
        </button>:  Tommorow is completion Date ;
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button mat-raised-button style="background-color: pink;">
            <mat-icon style="color: black;">check_circle</mat-icon>
        </button>   :  2 Days are left  
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button mat-raised-button style="background-color: cyan;">
            <mat-icon style="color: black;">check_circle</mat-icon>
        </button>   :  3 days are left  
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button mat-raised-button >
            <mat-icon style="color: black;">check_circle</mat-icon>
        </button>   :  Have enough time  
    </div>

</mat-toolbar>
<mat-accordion style="position: relative; top: 100px; z-index: 5" 
#accordion *ngFor="let dataSource of tableInstancesMap | keyvalue " [multi]="true">

        <mat-expansion-panel [expanded]="true" style="margin-bottom: 10px;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <button mat-stroked-button color="warn"><strong>{{dataSource.key}}</strong></button>
               
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <table mat-table [dataSource]="dataSource.value | async" matSort style="width: 100%; 
            height: 100%;">
  
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef  >ID</th>
                  <td mat-cell *matCellDef="let element">         
                          <mat-chip style="font-size: 8;" color="primary" 
                      selected [routerLink]="['/task/',element.taskid]">{{element.taskid}}</mat-chip> 
                   </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef  >Title</th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
            
                
                <ng-container matColumnDef="assignee"  >
                  <th mat-header-cell *matHeaderCellDef>Assignee</th>
                  <td mat-cell *matCellDef="let element"> {{element.assignee.name}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="owner"  >
                  <th mat-header-cell *matHeaderCellDef>Reporter</th>
                  <td mat-cell *matCellDef="let element"> {{element.owner.name}}</td>
                </ng-container>
          
                <ng-container matColumnDef="status"  >
                      <th mat-header-cell *matHeaderCellDef>Status</th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="enddate"  >
                      <th mat-header-cell *matHeaderCellDef>Due Date</th>
                      <td mat-cell *matCellDef="let element"> {{element.enddate.toDate() | date :'short'}} </td>
               </ng-container>
          
               <ng-container matColumnDef="edit"  >
                      <th mat-header-cell *matHeaderCellDef>Urgency</th>
                      <td mat-cell *matCellDef="let element"> 
                              <button mat-raised-button [appOverDueTask]="element.enddate">
                                      <mat-icon style="color: black;">check_circle</mat-icon>
                              </button>
                      </td>   
               </ng-container>          
          
               <ng-container matColumnDef="delete"  >
                      <th mat-header-cell *matHeaderCellDef>Delete</th>
                      <td mat-cell *matCellDef="let element"> 
                              <button mat-icon-button (click)="deleteTask(element)">
                                      <mat-icon style="color: red;">delete</mat-icon>
                              </button>
                      </td>
               </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns;" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </mat-expansion-panel>
  </mat-accordion>