<mat-toolbar style="display: flex; justify-content: space-between;
flex-direction: row; width: 100%; background-color: white;">
        <div>
                <button mat-raised-button style="margin: 20px; background-color: black; color: white;" (click)="changeTaskBool(true)"><strong>Tasks</strong> </button>
                <button mat-raised-button style="margin: 20px; background-color: black; color: white;" (click)="changeTaskBool(false)"><strong>Notes</strong> </button>
        
        </div>
        <div style="margin-top: 20px;">
                <mat-form-field appearance="outline" style="font-size: 15px;">
                        <input matInput placeholder="search : e.g. TASK-10" [formControl]="taskId">
                        <mat-icon matSuffix style="cursor: pointer" matRipple [matRippleCentered]="centered" (click)="navigateToTask(taskId.value)">
                                search
                        </mat-icon>
                </mat-form-field>
        </div>

</mat-toolbar>
<br>
<div class="example-container mat-elevation-z8" *ngIf="taskBool">
        <mat-form-field appearance="outline" style="width: 100%" >
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" style="font-size: 15px;">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">         
                    <mat-chip style="font-size: 8;" color="primary" 
                selected [routerLink]="['/task/',element.taskid]">{{element.taskid}}</mat-chip> 
             </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="title" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="assignee" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef>Assignee</th>
            <td mat-cell *matCellDef="let element"> {{element.assignee.name}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="owner" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef>Reporter</th>
            <td mat-cell *matCellDef="let element"> {{element.owner.name}} </td>
          </ng-container>

          <ng-container matColumnDef="status" mat-sort-header>
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <ng-container matColumnDef="enddate" mat-sort-header>
                <th mat-header-cell *matHeaderCellDef>Due Date</th>
                <td mat-cell *matCellDef="let element"> {{element.enddate.toDate() | date}} </td>
         </ng-container>

         <ng-container matColumnDef="edit" mat-sort-header>
                <th mat-header-cell *matHeaderCellDef>Edit</th>
                <td mat-cell *matCellDef="let element"> 
                        <button mat-icon-button>
                                <mat-icon style="color: black;">edit</mat-icon>
                        </button>
                </td>   
         </ng-container>          

         <ng-container matColumnDef="delete" mat-sort-header>
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element"> 
                        <button mat-icon-button>
                                <mat-icon style="color: red;">delete</mat-icon>
                        </button>
                </td>
         </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</div>
<mat-chip-list></mat-chip-list>


<mat-accordion *ngIf="!taskBool">
        <mat-expansion-panel [expanded]="true" style="background-color: gainsboro; max-height: 600px">

                <mat-expansion-panel-header>
                        <mat-panel-title>
                          Notes
                        </mat-panel-title>
                        
                </mat-expansion-panel-header>

                <view-notes></view-notes>


        </mat-expansion-panel>
</mat-accordion>


