<mat-toolbar style="display: flex; justify-content: space-between;
flex-direction: row; width: 100%; background-color: white;">
        <div id="content-desktop">
                <button mat-raised-button style="margin: 20px; background-color: black; color: cyan;"
                        [routerLink]="['tasks']"><strong>Tasks</strong> </button>
                <button mat-raised-button style="margin: 20px; background-color: black; color: cyan;"
                        [routerLink]="['notes']"><strong>Notes</strong> </button>
                <button mat-raised-button style="margin: 20px; background-color: black; color: cyan;"
                        [routerLink]="['notes']" (click) ="notify()"><strong>contacts</strong> </button>
                <button mat-raised-button style="margin: 20px; background-color: black; color: cyan;"
                        [routerLink]="['notes']"><strong>expenses</strong> </button>

        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu" color="warn" id="content-mobile">
                <mat-icon>home</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
                <div style="display: flex; flex-direction: column; justify-content: center;">
                        <button mat-raised-button
                                style="margin: 20px; background-color: black; color: cyan;"
                                [routerLink]="['tasks']"><strong>Tasks</strong> </button>

                        <button mat-raised-button
                                style="margin: 20px; background-color: black; color: cyan;"
                                [routerLink]="['notes']"><strong>Notes</strong> </button>

                        <button mat-raised-button
                                style="margin: 20px; background-color: black; color: cyan;"
                                [routerLink]="['notes']"><strong>contacts</strong> </button>

                        <button mat-raised-button
                                style="margin: 20px; background-color: black; color: cyan;"
                                [routerLink]="['notes']"><strong>expenses</strong> </button>

                </div>
        </mat-menu>
        <div style="margin-top: 20px;">
                <mat-form-field appearance="outline" style="font-size: 12px;">
                        <input matInput placeholder="search : e.g. TASK-10" [formControl]="taskId">
                                <mat-icon matSuffix style="cursor: pointer" matRipple (click)="navigateToTask(taskId.value)">
                                        search
                                </mat-icon>
                </mat-form-field>
        </div>

</mat-toolbar>
<project-list-cards></project-list-cards>

<br>
<router-outlet></router-outlet>