<div class="example-container mat-elevation-z8">
        <mat-form-field appearance="outline" style="width: 70%">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 20%; margin-left: 10%">
                <input matInput placeholder="Filter" [formControl]="taskId">
                <mat-icon matSuffix style="cursor: pointer" matRipple [matRippleCentered]="centered" (click)="navigateToTask(taskId.value)">
                        search
                </mat-icon>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">         
                    <mat-chip style="font-size: 8; width: 40%" color="primary" 
                selected [routerLink]="['/task/',element.taskid]">{{element.taskid}}</mat-chip> 
             </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="assignee">
            <th mat-header-cell *matHeaderCellDef>assignee</th>
            <td mat-cell *matCellDef="let element"> {{element.assignee.name}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef>owner</th>
            <td mat-cell *matCellDef="let element"> {{element.owner.name}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <ng-container matColumnDef="enddate">
                <th mat-header-cell *matHeaderCellDef>End Date</th>
                <td mat-cell *matCellDef="let element"> {{element.enddate.toDate() | date}} </td>
         </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</div>
<mat-chip-list></mat-chip-list>


<mat-accordion>
        <mat-expansion-panel [expanded]="true" style="background-color: gainsboro; max-height: 600px">

                <mat-expansion-panel-header>
                        <mat-panel-title>
                          Notes
                        </mat-panel-title>
                        
                </mat-expansion-panel-header>

                <view-notes></view-notes>


        </mat-expansion-panel>

        <!-- <mat-expansion-panel>

                <mat-expansion-panel-header>
                        <mat-panel-title>
                          Contacts
                        </mat-panel-title>
                        
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent collapsedHeight="100px" expandedHeight="100px">
                        <view-notes></view-notes>
                </ng-template>                

        </mat-expansion-panel> -->

         <!-- <mat-expansion-panel>

                <mat-expansion-panel-header>
                        <mat-panel-title>
                          My Tasks
                        </mat-panel-title>
                        <mat-chip-list class="menu">
                            </mat-chip-list>
                            <span class="example-spacer"></span>
                            <mat-chip color="primary" selected [matMenuTriggerFor]="menu" >T
                                    <mat-icon aria-hidden="false" aria-label="Example user verified icon">arrow_drop_down</mat-icon>
                            </mat-chip>
                            <mat-menu #menu="matMenu" class="menulaptop">
                                <button mat-menu-item (click)="filterOption('TASK')">Task</button>
                                <button mat-menu-item (click)="filterOption('ISSUE')">Issue</button>
                                <button mat-menu-item (click)="filterOption('DEV')" color="primary" selected>Dev</button>
                                <button mat-menu-item (click)="filterOption('SUPPORT')"color="accent" selected>Support</button>
                                <button mat-menu-item (click)="filterOption('PRODUCTION')" color ="warn" selected>Production</button>
                                <button mat-menu-item (click)="filterOption('CHANGE')" color="accent" selected>Change</button>
                                <button mat-menu-item (click)="filterOption('')">All</button>
                    
                            </mat-menu>
                            &nbsp;
                            <mat-chip color="warn" selected [matMenuTriggerFor]="menu2" >P
                                    <mat-icon aria-hidden="false" aria-label="Example user verified icon">arrow_drop_down</mat-icon>
                            </mat-chip>
                            &nbsp;
                            <mat-menu #menu2="matMenu" class="menulaptop">
                                <button mat-menu-item (click)="filterOption('TASK')">High</button>
                                <button mat-menu-item (click)="filterOption('ISSUE')">Medium</button>
                                <button mat-menu-item (click)="filterOption('DEV')">Low</button>
                            </mat-menu>
                            <mat-chip (click) = "changeStatus()" style="margin-right: 10px">C</mat-chip>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>

                </ng-template>
        </mat-expansion-panel> -->
</mat-accordion>


