<div class="app">

    <ul class="hs full no-scrollbar">

        <li class="marginList">
            <mat-card class="cardList">
                something
            </mat-card>
        </li>
        <li class="marginList">
            <mat-card class="cardList">
                something
            </mat-card>
        </li>
        <li class="marginList">
            <mat-card class="cardList">
                something
            </mat-card>
        </li>
        <li class="marginList">
            <mat-card class="cardList">
                something
            </mat-card>
        </li>
        <li class="marginList">
            <mat-card class="cardList">
                something
            </mat-card>
        </li>
        <li class="marginList">
            <mat-card class="cardList">
                something
            </mat-card>
        </li>
        <li class="marginList">
            <mat-card class="cardList">
                something
            </mat-card>
        </li>
        <li class="marginList">
            <mat-card class="cardList">
                something
            </mat-card>
        </li>
    </ul>
</div>