<div class="container">
  <div class="mainsection">
    <h1>Your Service Expert in Mumbai.</h1>
    <p>Get instant access to reliable and affordable services</p>
  
    <form>
      <div class="inputbar">
        <input type="text" name="search" placeholder="Search for a service...">
        <button><fa-icon [icon]="faSearch" class="searchicon"></fa-icon></button>
      </div>
    </form>
  </div>
  <div class="servicecontent">
    <ul class="services">
      <li><fa-icon [icon]="blender" class="searchicon"></fa-icon><p>Appliance Repair</p></li>
      <li><fa-icon [icon]="heart" class="searchicon"></fa-icon><p>Beauty & spa</p></li>
      <li><fa-icon [icon]="briefcase" class="searchicon"></fa-icon><p>Business & Taxes</p></li>
      <li><fa-icon [icon]="person" class="searchicon"></fa-icon><p>Personal & More</p></li>
    </ul>
  </div>
</div>