<div class="container">
  <nav class="navbar" [class.activeNavbar]="navVar">
    <div class="brand" [class.activeBrand]="navVar">
      TechZinfi <span style="color: red">TE</span><br>
      <span style="font-size: 10px; color: gray">Current User : {{currentuser.name}}</span>
    </div>
    <ul class="nav">
        <li > <a [routerLink]="['admin']" >Admin</a></li>
        <!-- <li> <a [routerLink]="['register']">Tasks</a></li> -->
        <li > <a [routerLink]="['dash/mytask/']" >Dashboard</a></li>
        <li *ngIf="loggedin"><a (click) = "logout()"><i class="material-icons" style="color: red">
            power_settings_new</i></a></li>
        <li > </li>

            
    </ul>
    <div class="menu" [class.activeMenu]="navVar">
      <button id="hamburgermenu" (click) = "togglenav()"><fa-icon [icon]="icon"></fa-icon></button>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

