<div class="container">
  <nav class="navbar" [class.activeNavbar]="navVar">
    <div class="brand" [class.activeBrand]="navVar">
      TechZinfi <span style="color: red">TE</span><br>
      <!-- <span style="font-size: 10px; color: gray">Current User : {{currentuser.name}}</span> -->
    </div>
    <ul class="nav">
        <li > <a [routerLink]="['admin']" >Admin</a></li>
        <!-- <li> <a [routerLink]="['register']">Tasks</a></li> -->
        <li > <a [routerLink]="['dash/mytask/']" >Dashboard</a></li>
        <li *ngIf="loggedin"> 
          <mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer">face</mat-icon>
        </li>

        <mat-menu #menu="matMenu">
            <button mat-menu-item color="primary" [routerLink]="['/profile']"> {{currentuser.name}} </button>
            <button mat-menu-item (click)="logout()" style="align-content: center">
              <mat-icon color="warn">power_settings_new</mat-icon>
            </button>
        </mat-menu>
            
    </ul>
    <div class="menu" [class.activeMenu]="navVar">
      <button id="hamburgermenu" (click) = "togglenav()"><fa-icon [icon]="icon"></fa-icon></button>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <mat-chip-list></mat-chip-list>
</div>

