<div class="login picture" style="background-color: black; height: 100%; width: 100%;">

    <mat-card class="cardion" style="background-color: white; height: 40%;">
    <mat-card-title style="background-color: rgba(238, 237, 237, 0.456);">Login</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <br>

        <form [formGroup]="loginform" style="display: flex; 
        justify-content: center; flex-direction: column; height: 60%;"> 
            <mat-form-field appearance="outline" >
                <mat-label >Username</mat-label>
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName = "password">
            </mat-form-field> <br>
            <button mat-raised-button (click)="login(loginform.value)" color="primary" style="justify-self: center;">Login</button>
        </form>
    </mat-card-content>

</mat-card> 

</div>

<!-- <div id="content-desktop" style="display: flex; 
flex-direction: row; width: 100%; height: 100%;">


    <div style="background-color: black;
    height: 100%; width: 70%; display: flex; justify-content: center; align-content: center;
    ">
        <img src="../../../assets/images/banner.png" alt="" style="height: 87%; width: 100%;
        margin-top: 7%;">
    </div>
    <div style="background-color: black; height: 100%; width: 30%; 
    align-content: center; justify-content: center; display: flex;
    ">
        <mat-card class="cardion" style="background-color: white; height: 47%; width: 70%; margin-top: 40%;">
            <mat-card-title>Login</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <br>
        
                <form [formGroup]="loginform" style="display: flex; 
                justify-content: center; flex-direction: column; height: 60%;"> 
                    <mat-form-field appearance="outline" >
                        <mat-label >Username</mat-label>
                        <input matInput placeholder="Username" formControlName="username">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password" formControlName = "password">
                    </mat-form-field> <br>
                    <button mat-raised-button (click)="login(loginform.value)" color="primary" style="justify-self: center;">Login</button>
                </form>
            </mat-card-content>
        
        </mat-card> 
    </div>
</div>
<div id="content-mobile" style="display: flex; justify-content: center; align-content: center; width: 100%; height: auto;">
    <div style="background-image: ;">

    </div>
    <div>

    </div>
</div>

 -->
