
<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 3%">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="height: 90%; width: 90%">

                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
        
                <!-- Position Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="password">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
                </ng-container>
        
                <!-- Weight Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</div>

      
