/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

.example-icon {
    padding: 0 14px;
 }
  
.example-spacer {
    flex: 1 1 auto;
}
.example-full-width {
    width: 100%;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}

.effect{
  background-color:black;
  color:white;
}