<mat-toolbar color="primary" style="display: flex; flex-direction: row; justify-content: space-between;">
    <button mat-icon-button (click)="back()"> <mat-icon>arrow_back_ios</mat-icon> </button>
    <button mat-icon-button (click)="ngOnInit()"> <mat-icon>refresh</mat-icon> </button>
</mat-toolbar>
<div class="container">        
        <div class="example-container">
            <h2>Open</h2>
            <br>
            <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="open"
                [cdkDropListConnectedTo]="[inprogressList, pendingList, completedList, colsedList]"
                class="example-list"
                (cdkDropListDropped)="drop($event, 'OPEN', 'open')">
                <div class="example-box" *ngFor="let item of open" cdkDrag>
                    <short-card [task] = item style="width: 100%" ></short-card>
                </div> 
            </div>
        </div>

        <div class="example-container">
                <h2>In Progress</h2>
                <br>
                <div
                    cdkDropList
                    #inprogressList="cdkDropList"
                    [cdkDropListData]="inprogress"
                    [cdkDropListConnectedTo]="[todoList, completedList, colsedList, pendingList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event, 'INPROGRESS', 'inprogress')">
                    <div class="example-box" *ngFor="let item of inprogress" cdkDrag>
                            <short-card [task] = item style="width: 100%"></short-card>
                    </div>
                </div>
        </div>

        <div class="example-container">
            <h2>Pending</h2>
            <br>
            <div
                cdkDropList
                #pendingList="cdkDropList"
                [cdkDropListData]="pending"
                [cdkDropListConnectedTo]="[todoList, completedList, colsedList, inprogressList]"
                class="example-list"
                (cdkDropListDropped)="drop($event, 'PENDING', 'pending')">
                <div class="example-box" *ngFor="let item of pending" cdkDrag>
                        <short-card [task] = item [color] = "warn" style="width: 100%"></short-card>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2>Completed</h2>
            <br>
            <div
                cdkDropList
                #completedList="cdkDropList"
                [cdkDropListData]="completed"
                [cdkDropListConnectedTo]="[todoList, pendingList, colsedList, inprogressList]"
                class="example-list"
                (cdkDropListDropped)="drop($event, 'COMPLETED', 'completed')">
                <div class="example-box" *ngFor="let item of completed" cdkDrag>
                        <short-card [task] = item [color] = "accent" style="width: 100%"></short-card>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2>Closed</h2>
            <br>
            <div
                cdkDropList
                #colsedList="cdkDropList"
                [cdkDropListData]="closed"
                [cdkDropListConnectedTo]="[todoList, inprogressList, pendingList, completedList]"
                class="example-list"
                (cdkDropListDropped)="drop($event, 'CLOSED', 'closed')">
                <div class="example-box" *ngFor="let item of closed" cdkDrag>
                        <short-card [task] = item [color] = "accent" style="width: 100%"></short-card>
                </div>
            </div>
        </div>

</div>
            
            